@using EntityLayer.Concrete
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Destination</h1>
<table class="table table-bordered"  >
    <tr>
        <th>#</th>
        <th>City</th>
        <th>Date</th>
        <th>Capasity</th>
        <th>Price</th>
        <th>Details</th>
    </tr>
    @foreach(var item in Model){
        <tr>
            <td>@item.DestinationId</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    }
</table>

